.review-comment {
  padding-left: 68px;
  padding-right: 16px;
  padding-bottom: 16px;
  font-size: 14px;
}

.rate {
  height: 10px;
  --buffer-background: transparent;
  margin-bottom: 8px;
}

.bar-5 {
  --progress-background: #4caf50;
}
.bar-4 {
  --progress-background: #2196f3;
}
.bar-3 {
  --progress-background: #00bcd4;
}
.bar-2 {
  --progress-background: #ff9800;
}
.bar-1 {
  --progress-background: #f44336;
}

.prefix-bar {
  position: absolute;
  left: -10px;
  font-size: 14px;
  line-height: 10px;
}

.total-rate {
  font-size: 12px;
  color: var(--ion-color-step-600, #666) !important;
}

.rate-number {
  font-size: 3rem;
  line-height: 2.5rem;
  text-align: center;
  font-weight: normal;
  color: var(--ion-color-step-600, #666) !important;
}
