<ion-header>
  <ion-toolbar>
    <ion-title>Thông báo
      <ion-badge *ngIf="(counterNoti | async) > 0" color="danger" class="ion-hide-md-down">{{counterNoti | async}}
      </ion-badge>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="padding: 8px 16px !important; text-align: right; font-size: 14px;">
    <span class="primary-color link" (click)="markReadAll()">Đánh dấu đã đọc</span>
    <span>&nbsp;&#8729;&nbsp;</span>
    <span class="primary-color link" [routerLink]="[(isRepairer? '/r/tabs/profile':'/tabs/profile')]"
      [queryParams]="{setting: 'open'}">Cài đặt</span>
  </div>

  <ion-item-divider *ngIf="!profile?.notification" sticky>
    <ion-label>
      Thông báo mới sẽ không được nhận <br>
      <small>(Tài khoản > Cài đặt > Bật Nhận thông báo )</small>
    </ion-label>
  </ion-item-divider>

  <ion-list>
    <ion-item-sliding *ngFor="let noti of notifications">
      <ion-item lines="full" (click)="seenNotification(noti.key, noti.requestId)" [class.unseen]="!noti.seen"
        class="notification">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-thumbnail slot="start">
          <img [src]="noti.thumbnail + '?q=0.1'" alt="">
        </ion-thumbnail>
        <ion-label>
          <!-- <h2>{{ noti.key }}</h2> -->
          <div class="ion-text-wrap" style="font-size: 14px;">{{ noti.message }}</div>
          <div class="post-time">{{ noti.sendAt | vdatetime }}</div>
        </ion-label>
      </ion-item>
      <ion-item-options>
        <ion-item-option color="danger" (click)="removeNotification(noti.key)">
          <ion-icon slot="top" name="trash"></ion-icon>
          Xóa
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" *ngIf="!loading">
    <ion-infinite-scroll-content loadingSpinner="lines" loadingText="Đang tải thêm thông báo...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <!-- skeleton -->
  <ng-container *ngIf="loading">
    <ion-item lines="full" class="notification">
      <ion-thumbnail slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <ion-skeleton-text animated width="80%"></ion-skeleton-text>
        <ion-skeleton-text animated width="50px" class="post-time"></ion-skeleton-text>
      </ion-label>
    </ion-item>
    <ion-item lines="full" class="notification">
      <ion-thumbnail slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <ion-skeleton-text animated width="70%"></ion-skeleton-text>
        <ion-skeleton-text animated width="50px" class="post-time"></ion-skeleton-text>
      </ion-label>
    </ion-item>
    <ion-item lines="full" class="notification">
      <ion-thumbnail slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <ion-skeleton-text animated width="85%"></ion-skeleton-text>
        <ion-skeleton-text animated width="50px" class="post-time"></ion-skeleton-text>
      </ion-label>
    </ion-item>
  </ng-container>
</ion-content>