<ion-content class="ion-padding-bottom bg-light">
  <!-- Quick start -->
  <!-- <div class="bg-white"> -->
  <ion-toolbar translucent>
    <ion-buttons slot="start">
      <span class="logo"><span class="ion-hide-lg-up">GrabThợ</span>&nbsp;</span>
    </ion-buttons>
  </ion-toolbar>
  <ion-item-divider sticky class="bg-white ion-no-padding" style="z-index: 10; --inner-padding-end: 0;">
    <ion-item lines="full" style="--padding-bottom: 8px; --padding-top: 8px; width: 100%;">
      <ion-avatar slot="start">
        <img [src]="profile?.avatar">
      </ion-avatar>
      <div (click)="createRequestPage()" style="width: 100%;">
        <div class="quickstart-box">Tạo yêu cầu</div>
      </div>
    </ion-item>
  </ion-item-divider>
  <!-- </div> -->

  <div class="bg-white">
    <ion-slides [options]="optionsForGuide">
      <ion-slide>
        <ion-item lines="none">
          <ion-icon name="camera" mode="ios" style="color: #4caf50"></ion-icon>
          <ion-label class="text-dark-color">
            Bước 1: Viết mô tả kèm hình ảnh
          </ion-label>
        </ion-item>
      </ion-slide>

      <ion-slide>
        <ion-item lines="none">
          <ion-icon name="pin" style="color: #f44336"></ion-icon>
          <ion-label class="text-dark-color">
            Bước 2: Xác định địa chỉ
          </ion-label>
        </ion-item>
      </ion-slide>

      <ion-slide>
        <ion-item lines="none">
          <ion-icon name="send" mode="ios" style="color: #2196f3"></ion-icon>
          <ion-label class="text-dark-color">
            Bước 3: Gửi yêu cầu và chờ thợ báo giá
          </ion-label>
        </ion-item>
      </ion-slide>
    </ion-slides>
  </div>
  <ion-item-divider></ion-item-divider>

  <!-- recently post -->
  <div class="bg-white">
    <ion-row class="ion-padding list-header">
      Dịch vụ sửa chữa
    </ion-row>
    <ion-grid>
      <ion-slides>
        <ion-slide>
          <ion-row>
            <ion-col>
              <img src="/assets/repair/repairer-1.png" alt="">
              <div>
                <ion-chip class="ion-no-margin">Thợ điện lạnh</ion-chip>
              </div>
            </ion-col>
            <ion-col>
              <img src="/assets/repair/repairer-2.png" alt="">
              <div>
                <ion-chip class="ion-no-margin">Lao động phổ thông</ion-chip>
              </div>
            </ion-col>
            <ion-col>
              <img src="/assets/repair/repairer-3.png" alt="">
              <div>
                <ion-chip class="ion-no-margin">Thợ sửa khóa</ion-chip>
              </div>
            </ion-col>
          </ion-row>
        </ion-slide>
        <ion-slide>
          <ion-row>
            <ion-col>
              <img src="/assets/repair/repairer-4.png" alt="">
              <div>
                <ion-chip class="ion-no-margin">Cứu hộ xe máy</ion-chip>
              </div>
            </ion-col>
            <ion-col>
              <img src="/assets/repair/repairer-5.png" alt="">
              <div>
                <ion-chip class="ion-no-margin">Thợ điện</ion-chip>
              </div>
            </ion-col>
            <ion-col>
              <img src="/assets/repair/repairer-6.png" alt="">
              <div>
                <ion-chip class="ion-no-margin">Bảo vệ - giữ xe</ion-chip>
              </div>
            </ion-col>
          </ion-row>
        </ion-slide>
        <ion-slide>
          <ion-row>
            <ion-col>
              <img src="/assets/repair/repairer-7.png" alt="">
              <div>
                <ion-chip class="ion-no-margin">PG/PB</ion-chip>
              </div>
            </ion-col>
            <ion-col>
              <img src="/assets/repair/repairer-8.png" alt="">
              <div>
                <ion-chip class="ion-no-margin">Thợ sửa chữa nước</ion-chip>
              </div>
            </ion-col>
            <ion-col>
              <img src="/assets/repair/repairer-9.png" alt="">
              <div>
                <ion-chip class="ion-no-margin">Xây dựng - Nội thất</ion-chip>
              </div>
            </ion-col>
          </ion-row>
        </ion-slide>
        <ion-slide>
          <ion-row>
            <ion-col>
              <img src="/assets/repair/repairer-10.png" alt="">
              <div>
                <ion-chip class="ion-no-margin">Thợ sửa máy lạnh</ion-chip>
              </div>
            </ion-col>
            <ion-col>
              <img src="/assets/repair/repairer-11.png" alt="">
              <div>
                <ion-chip class="ion-no-margin">Giúp việc</ion-chip>
              </div>
            </ion-col>
            <ion-col>
              <img src="/assets/repair/repairer-12.png" alt="">
              <div>
                <ion-chip class="ion-no-margin">Thợ trang điểm</ion-chip>
              </div>
            </ion-col>
          </ion-row>
        </ion-slide>
      </ion-slides>
    </ion-grid>
  </div>

  <ion-item-divider></ion-item-divider>

  <!-- recently post -->
  <div class="bg-white">
    <ion-row class="ion-padding list-header">
      Gần đây
    </ion-row>

    <!-- skeleton poster -->
    <ng-container *ngIf="loadingData">
      <ion-item lines="none">
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <div class="primary-color">
            <ion-skeleton-text animated width="200px"></ion-skeleton-text>
          </div>
          <div class="post-time">
            <ion-skeleton-text animated width="150px"></ion-skeleton-text>
          </div>
        </ion-label>
      </ion-item>

      <div class="ion-padding description">
        <p>
          <ion-skeleton-text animated></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated width="50%"></ion-skeleton-text>
        </p>
      </div>
    </ng-container>

    <ng-container *ngFor="let data of recentRequest">
      <div routerDirection="root" [routerLink]="['/requests', data.id]" style="border-bottom: 1px solid #c8c7cc;">
        <ion-item lines="none">
          <ion-avatar slot="start">
            <img [defaultImage]="'/assets/no-avatar.svg'" [lazyLoad]="data?.userAvatar" alt="avatar">
          </ion-avatar>
          <ion-label>
            <div class="primary-color">{{ data?.userFullName }}</div>
            <div class="post-time">{{ data?.createAt | vdatetime }}</div>
          </ion-label>
        </ion-item>

        <ion-item lines="none" class="ion-margin-bottom">
          <ion-label>
            <ion-text class="description" style="display: block;">
              {{ data?.textDescription | truncateText: 150 : true }}
            </ion-text>
          </ion-label>
        </ion-item>

        <!-- images -->
        <div [defaultImage]="'/assets/no-image.svg'" [lazyLoad]="imageHost + '' + data.imagesDescription[0]"
          class="post-image" style="border: none;">
        </div>
        <ion-row *ngIf="data.imagesDescription.length >= 4">
          <ng-container *ngFor="let src of data.imagesDescription; let i = index">
            <ion-col class="ion-text-center" *ngIf="i > 0 && i <= 4 ">
              <img [defaultImage]="'/assets/no-image.svg'" style="height: 100px;"
                [lazyLoad]="imageHost + '' + src + '?q=0.2'">
            </ion-col>
          </ng-container>
        </ion-row>

        <div class="ion-text-right ion-padding">
          <span class="post-sumary" *ngIf="data.noQuote > 0">{{ data?.noQuote }} Báo giá</span>
          <span class="post-sumary" *ngIf="data.noReceiver > 0">
            &nbsp;&#8729;&nbsp;{{ data?.noReceiver }} Xem yêu cầu
          </span>
          <span class="post-sumary" *ngIf="data.noReceiver === 0 && data.noQuote === 0">
            Chưa có thợ xem yêu cầu</span>
        </div>
      </div>

      <ion-item-divider></ion-item-divider>
    </ng-container>

    <ng-container *ngIf="!loadingData && recentRequest.length === 0">
      <div class="ion-text-center ion-padding">
        <img src="/assets/empty-box.svg" alt="Chưa có yêu cầu">
        <div class="text-light-color">Chưa có yêu cầu</div>
      </div>
    </ng-container>
  </div>

  <ion-item-divider></ion-item-divider>

</ion-content>