.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.swiper-slide {
  display: block;
}

ion-slide > h2 {
  margin-top: 2.8rem;
}

ion-slide > img {
  max-height: 50%;
  max-width: 60%;
  margin: 36px 0;
}

ion-card.recently-request {
  text-align: left;
  margin-top: 0;
  
  img, ion-skeleton-text.img-skeleton {
    height: 100px;
    width: 100%;
    margin-top: 0;
  }

  ion-card-header {
    padding-bottom: 0;
    padding-top: 10px;

    ion-card-subtitle {
      color: #000;
    }
  }

  ion-card-content {
    padding-top: 0;
    padding-bottom: 10px;
  }

  ion-chip {
    font-size: 12px;
    // margin-right: 0;
  }
}
