<ion-header translucent>
  <ion-toolbar translucent>

    <ion-buttons slot="start">
      <span class="primary-color" style="font-weight: 900; margin-left: 20px;">GrabTho</span>
    </ion-buttons>

    <ion-buttons slot="end" style="font-size: 24px;">
      <ion-icon class="ion-margin-end" name="notifications-outline"></ion-icon>
      <ion-icon class="ion-margin-end" (click)="logout()" name="power"></ion-icon>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content fullscreen class="ion-padding-bottom">


  <!-- Quick start -->
  <ion-item lines="full" style="--padding-bottom: 8px;  --padding-top: 8px;">
    <ion-avatar slot="start">
      <img [src]="profile?.avatar">
    </ion-avatar>
    <div (click)="createRequestPage()" class="text-light-color" style="font-size: 16px;">Tạo yêu cầu</div>
  </ion-item>

  <ion-slides [options]="optionsForGuide">
    <ion-slide>
      <ion-item lines="none">
        <ion-icon name="camera" mode="ios" style="color: #4caf50"></ion-icon>
        <ion-label class="text-dark-color">
          Viết mô tả kèm hình ảnh
        </ion-label>
      </ion-item>
    </ion-slide>

    <ion-slide>
      <ion-item lines="none">
        <ion-icon name="pin" style="color: #f44336"></ion-icon>
        <ion-label class="text-dark-color">
          Xác định địa chỉ
        </ion-label>
      </ion-item>
    </ion-slide>

    <ion-slide>
      <ion-item lines="none">
        <ion-icon name="send" mode="ios" style="color: #2196f3"></ion-icon>
        <ion-label class="text-dark-color">
          Gửi yêu cầu và chờ thợ báo giá
        </ion-label>
      </ion-item>
    </ion-slide>
  </ion-slides>
  <ion-item-divider></ion-item-divider>

  <!-- recently post -->
  <ion-row class="ion-padding list-header">
    Dịch vụ sửa chữa
  </ion-row>
  <ion-grid>
    <ion-slides>
      <ion-slide>
        <ion-row>
          <ion-col>
            <img src="/assets/repair/repairer-1.png" alt="">
            <div>
              <ion-chip class="ion-no-margin">Thợ điện lạnh</ion-chip>
            </div>
          </ion-col>
          <ion-col>
            <img src="/assets/repair/repairer-2.png" alt="">
            <div>
              <ion-chip class="ion-no-margin">Lao động phổ thông</ion-chip>
            </div>
          </ion-col>
          <ion-col>
            <img src="/assets/repair/repairer-3.png" alt="">
            <div>
              <ion-chip class="ion-no-margin">Thợ sửa khóa</ion-chip>
            </div>
          </ion-col>
        </ion-row>
      </ion-slide>
      <ion-slide>
        <ion-row>
          <ion-col>
            <img src="/assets/repair/repairer-4.png" alt="">
            <div>
              <ion-chip class="ion-no-margin">Cứu hộ xe máy</ion-chip>
            </div>
          </ion-col>
          <ion-col>
            <img src="/assets/repair/repairer-5.png" alt="">
            <div>
              <ion-chip class="ion-no-margin">Thợ điện</ion-chip>
            </div>
          </ion-col>
          <ion-col>
            <img src="/assets/repair/repairer-6.png" alt="">
            <div>
              <ion-chip class="ion-no-margin">Bảo vệ - giữ xe</ion-chip>
            </div>
          </ion-col>
        </ion-row>
      </ion-slide>
      <ion-slide>
        <ion-row>
          <ion-col>
            <img src="/assets/repair/repairer-7.png" alt="">
            <div>
              <ion-chip class="ion-no-margin">PG/PB</ion-chip>
            </div>
          </ion-col>
          <ion-col>
            <img src="/assets/repair/repairer-8.png" alt="">
            <div>
              <ion-chip class="ion-no-margin">Thợ sửa chữa nước</ion-chip>
            </div>
          </ion-col>
          <ion-col>
            <img src="/assets/repair/repairer-9.png" alt="">
            <div>
              <ion-chip class="ion-no-margin">Xây dựng - Nội thất</ion-chip>
            </div>
          </ion-col>
        </ion-row>
      </ion-slide>
      <ion-slide>
        <ion-row>
          <ion-col>
            <img src="/assets/repair/repairer-10.png" alt="">
            <div>
              <ion-chip class="ion-no-margin">Thợ sửa máy lạnh</ion-chip>
            </div>
          </ion-col>
          <ion-col>
            <img src="/assets/repair/repairer-11.png" alt="">
            <div>
              <ion-chip class="ion-no-margin">Giúp việc</ion-chip>
            </div>
          </ion-col>
          <ion-col>
            <img src="/assets/repair/repairer-12.png" alt="">
            <div>
              <ion-chip class="ion-no-margin">Thợ trang điểm</ion-chip>
            </div>
          </ion-col>
        </ion-row>
      </ion-slide>
    </ion-slides>
  </ion-grid>

  <ion-item-divider></ion-item-divider>

  <!-- recently post -->
  <ion-row class="ion-padding list-header">
    Gần đây
  </ion-row>

  <ion-card *ngIf="loadingData" class="recently-request">
    <ion-skeleton-text animated class="img-skeleton"></ion-skeleton-text>
    <ion-card-header>
      <ion-label>
        <p class="address">
          <ion-skeleton-text animated width="200px"></ion-skeleton-text>
        </p>
        <p class="time">
          <ion-skeleton-text animated width="100px"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-card-header>

    <div class="ion-padding-horizontal">
      <ion-skeleton-text style="display: inline-block; margin-left: 10px;" animated width="50px"></ion-skeleton-text>
      <ion-skeleton-text style="display: inline-block; margin-left: 10px;" animated width="50px"></ion-skeleton-text>
    </div>

    <ion-card-content>
      <div class="description">
        <ion-skeleton-text animated></ion-skeleton-text>
        <ion-skeleton-text animated width="100px"></ion-skeleton-text>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-slides *ngIf="!loadingData" pager="true" [options]="options">
    <ion-slide *ngFor="let req of recentRequest">
      <ion-card [routerLink]="['/requests', req?.id]" class="recently-request">
        <img [src]="imageHost + '' + req.imagesDescription[0]" />
        <ion-card-header>
          <ion-label>
            <p class="address">
              <ion-icon name="pin"></ion-icon>
              {{ req.address }}
            </p>
            <p class="time">
              <ion-icon name="time"></ion-icon>
              {{ req.createAt | vdatetime }}
            </p>
          </ion-label>
        </ion-card-header>

        <div class="ion-padding-horizontal">
          <ion-chip color="success">
            <ion-label><b>{{ req.noQuote }}</b> thợ báo giá</ion-label>
          </ion-chip>
          <ion-chip color="primary">
            <ion-label><b>{{ req.noReceiver }}</b> thợ xem yêu cầu</ion-label>
          </ion-chip>
        </div>

        <ion-card-content>
          <div class="description">
            {{ req.textDescription | truncateText: 50 : true }}
          </div>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <ion-item-divider></ion-item-divider>

  <!-- News -->
  <ion-row class="ion-padding list-header">
    Tin tức
  </ion-row>
  <ion-slides>

    <ion-slide>
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img
            src="https://images.pexels.com/photos/67636/rose-blue-flower-rose-blooms-67636.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
        </ion-thumbnail>
        <ion-label>
          <h2>H2 Title Text</h2>
          <p>Button on right</p>
        </ion-label>
      </ion-item>
    </ion-slide>

    <ion-slide>
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img src="https://www.w3schools.com/w3css/img_lights.jpg">
        </ion-thumbnail>
        <ion-label>
          <h2>H2 Title Text</h2>
          <p>Button on right</p>
        </ion-label>
      </ion-item>
    </ion-slide>

    <ion-slide>
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img
            src="https://images.pexels.com/photos/67636/rose-blue-flower-rose-blooms-67636.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
        </ion-thumbnail>
        <ion-label>
          <h2>H2 Title Text</h2>
          <p>Button on right</p>
        </ion-label>
      </ion-item>
    </ion-slide>
  </ion-slides>
  <router-outlet></router-outlet>
</ion-content>