<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Ionic Image Upload
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ionic-padding">
  <ion-item>
    <ion-label position="floating">Description</ion-label>
    <ion-textarea></ion-textarea>
  </ion-item>

  <h3 *ngIf="images.length == 0" class="ionic-text-center">Please Select Image!</h3>

  <ion-grid>
    <ion-row *ngFor="let row of images">
      <ion-col width-50 *ngFor="let col of row">
        <img src="{{ col?.path }}">
      </ion-col>
    </ion-row>
  </ion-grid>
  <!--     
  <ion-list>
    <ion-item *ngFor="let img of images; index as pos" class="ionic-text-wrap">
      <ion-thumbnail slot="start">
        <img [src]="img.path" />
      </ion-thumbnail>
      <ion-label>
        {{ img.name }}
      </ion-label>
      <ion-button slot=" end" fill="clear">
        <ion-icon slot="icon-only" name="cloud-upload"></ion-icon>
      </ion-button>
      <ion-button slot="end" fill="clear">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list> -->

  <ion-button expand="full" color="light" (click)="selectImage()">
    <ion-icon slot="start" name="camera"></ion-icon>
    Select Image
  </ion-button>
</ion-content>

<!-- <ion-footer>
    <ion-toolbar color="primary">
      
    </ion-toolbar>
  </ion-footer> -->