<ion-header>
  <ion-toolbar>
    <ion-title>Quản lý yêu cầu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-vertical">

  <div class="ion-padding-vertical ion-padding-horizontal">
    <h3 class="ion-no-margin">Gần đây</h3>
    <ion-card-subtitle>Yêu cầu đang chờ xác nhận và báo giá</ion-card-subtitle>
  </div>

  <ng-container>

    <ion-slides pager="true">

      <ion-slide>
        <ion-card class="recently-request">
          <img class="img-request"
            src="https://github.com/ionic-team/ionic-docs/raw/master/src/demos/api/card/madison.jpg" />
          <ion-card-header>
            <ion-card-subtitle>
              <ion-icon name="cash"></ion-icon> 250 điểm - <ion-icon name="time"></ion-icon> 14:20
            </ion-card-subtitle>
            <ion-card-subtitle>
              <ion-icon name="pin"></ion-icon> 73/1a Lê Thị Hoa, Thủ Đức, Hồ Chí Minh, Việt Nam
            </ion-card-subtitle>
          </ion-card-header>

          <div class="ion-padding-horizontal">
            <ion-chip color="primary">
              <ion-label><b>2</b> thợ báo giá</ion-label>
            </ion-chip>
            <ion-chip color="secondary">
              <ion-label><b>2</b> thợ nhận yêu cầu</ion-label>
            </ion-chip>
          </div>

          <ion-card-content>
            Lavabo của tôi bị nghẹt, có thể cần phải thay. Vòi nước cũng bị rỉ...
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card class="recently-request">
          <img class="img-request"
            src="https://github.com/ionic-team/ionic-docs/raw/master/src/demos/api/card/madison.jpg" />
          <ion-card-header>
            <ion-card-subtitle>
              <ion-icon name="cash"></ion-icon> 125 điểm - <ion-icon name="time"></ion-icon> 14:20
            </ion-card-subtitle>
            <ion-card-subtitle>
              <ion-icon name="pin"></ion-icon> 73/1a Lê Thị Hoa, Thủ Đức, Hồ Chí Minh, Việt Nam
            </ion-card-subtitle>
          </ion-card-header>

          <ion-chip color="primary">
            <ion-label><b>1</b> thợ báo giá</ion-label>
          </ion-chip>
          <ion-chip color="secondary">
            <ion-label><b>4</b> thợ nhận yêu cầu</ion-label>
          </ion-chip>

          <ion-card-content>
            Lavabo của tôi bị nghẹt, có thể cần phải thay. Vòi nước cũng bị rỉ...
          </ion-card-content>
        </ion-card>
      </ion-slide>

    </ion-slides>

  </ng-container>

  <div class="ion-padding-horizontal">
    <h3 class="ion-no-margin">Lịch sử</h3>
    <ion-card-subtitle>Yêu cầu đã xác nhận và hoàn thành</ion-card-subtitle>
  </div>
  <ion-segment #tabRequest class="ion-padding" value="2">
    <!-- <ion-segment-button value="1">
      <ion-label>Gần đây</ion-label>
    </ion-segment-button> -->
    <ion-segment-button value="2">
      <ion-label>Đã xác nhận</ion-label>
    </ion-segment-button>
    <ion-segment-button value="3">
      <ion-label>Đã hoàn thành</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- 
  <ion-card>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>ion-item in a card, icon left, button right</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>

    <ion-card-content>
      This is content, without any paragraph or header tags,
      within an ion-card-content element.
    </ion-card-content>
  </ion-card> -->

  <ng-container *ngIf="tabRequest.value == '2'">
    <ion-list>
      <ion-list-header>
        Yêu cầu đã được bạn đồng ý chờ đến thời gian thực hiện
      </ion-list-header>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="/assets/repair/repairer-1.png">
        </ion-thumbnail>
        <ion-label>
          <h2>Anh Trần Bình Trọng</h2>
          <h3>
            <ion-icon name="cash"></ion-icon> 250 điểm
          </h3>
          <p>
            <ion-icon name="time"></ion-icon> 14:20
          </p>
          <p>
            <ion-icon name="pin"></ion-icon> 73/1a Lê Thị Hoa, Thủ Đức, Hồ Chí Minh, Việt Nam
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>

  <ng-container *ngIf="tabRequest.value == '3'">
    <ion-list>
      <ion-list-header>
        Yêu cầu chờ được phản hồi ý kiến
      </ion-list-header>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="/assets/repair/repairer-10.png">
        </ion-thumbnail>
        <ion-label>
          <h2>Anh Trần Bình Trọng</h2>
          <h3>
            <ion-icon name="cash"></ion-icon> 250 điểm
          </h3>
          <p>
            <ion-icon name="time"></ion-icon> 14:20
          </p>
          <p>
            <ion-icon name="pin"></ion-icon> 73/1a Lê Thị Hoa, Thủ Đức, Hồ Chí Minh, Việt Nam
          </p>
        </ion-label>
      </ion-item>

      <ion-list-header>
        Yêu cầu đã đóng
      </ion-list-header>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="/assets/repair/repairer-2.png">
        </ion-thumbnail>
        <ion-label>
          <h2>Anh Trần Bình Trọng</h2>
          <h3>
            <ion-icon name="cash"></ion-icon> 250 điểm
          </h3>
          <p>
            <ion-icon name="time"></ion-icon> 14:20
          </p>
          <p>
            <ion-icon name="pin"></ion-icon> 73/1a Lê Thị Hoa, Thủ Đức, Hồ Chí Minh, Việt Nam
          </p>
          <p>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            Thợ chuyên nghiệp, cẩn thận
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>

</ion-content>