<ion-header>

</ion-header>

<ion-content class="ion-padding">
  <ion-grid style="height: 45%">
    <ion-row class="ion-align-items-end ion-justify-content-center" style="height: 100%">
      <ion-icon style="font-size: 10em; color: var(--ion-color-success-shade);" name="checkmark-circle-outline">
      </ion-icon>
    </ion-row>
  </ion-grid>
  <div class="ion-text-center">
    <h2 class="ion-text-uppercase" style="color: var(--ion-color-success-shade);">Gửi yêu cầu thành công</h2>
    <ion-text class="ion-padding-horizontal ion-margin-end ion-text-wrap" style="color: var(--ion-color-medium);">
      Các thợ sẽ nhận yêu cầu và cùng với bạn thương lượng để chốt chi phí
    </ion-text>
    <div>
      <ion-button color="light" routerLink="/requests/1">
        <ion-icon name="open" mode="md" style="color: var(--ion-color-primary);"></ion-icon>
        <span class=" ion-padding-start" style="padding: 8px; color: var(--ion-color-primary);">Xem lại yêu cầu</span>
      </ion-button>
      <ion-button color="light" routerLink="/tabs/home">
        <ion-icon name="home" style="color: var(--ion-color-primary);"></ion-icon>
        <span class=" ion-padding-start" style="padding: 8px; color: var(--ion-color-primary);">Trở về trang chủ</span>
      </ion-button>
    </div>
  </div>
</ion-content>