.btn-facebook {
  --background: #4c69ba;
  --background-hover: #5b7bd5;
  --background-focused: #5b7bd5;
  --background-activated: #5b7bd5;
}

.btn-google {
  --background: #dd4b39;
  --background-hover: #e74b37;
  --background-focused: #e74b37;
  --background-activated: #e74b37;
}
