.profile-avatar {
  max-width: 120px;
  margin: auto;
  width: 100%;
  height: auto;
}

.profile-info {
  margin: 0;
  // text-align: center;

  .fullname {
    font-size: 22px;
    font-weight: bold;
  }
  .major {
    font-size: 16px;
    color: var(--ion-color-step-600, #666) !important;
  }
}

// .change-avatar {
//   display: block;
//   position: absolute;
//   top: calc(75% - 20px);
//   left: calc(75% - 20px);
//   --padding-start: 8px;
//   --padding-end: 8px;
//   height: 40px;
// }
