<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button (click)="goBack()" color="primary">
        <ion-icon name="arrow-back"></ion-icon> Trở lại
      </ion-button>
    </ion-buttons>

    <ion-title>Yêu cầu</ion-title>

    <ion-buttons slot="primary">
      <ion-button (click)="continute()" color="primary">Tiếp tục</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-vertical" fullscreen>

  <h3 class="title ion-padding-horizontal">Chọn địa chỉ</h3>

  <ion-item class="hint" lines="none">
    <ion-icon size="small" slot="start" color="primary" name="information-circle-outline"></ion-icon>
    <small>Xác định vị trí của bạn bằng cách tìm kiếm hoặc sử dụng bản đồ với GPS</small>
  </ion-item>

  <div class="ion-padding-horizontal" style="height: 100%;">
    <ion-searchbar style="padding-left: 0!important; padding-right: 0!important;" mode="ios" animated inputmode="search"
      showCancelButton="focus" placeholder="Tìm kiếm địa chỉ" cancelButtonText="Hủy" [(ngModel)]="searchInput"
      (ionInput)="updateListPlace()" (ionClear)="searchInput = ''; autocompleteItems = []"
      (ionCancel)="hideSearchBox = true; autocompleteItems = []">
    </ion-searchbar>

    <ion-list [hidden]="autocompleteItems.length == 0" color="light">
      <ion-item *ngFor="let item of autocompleteItems" lines="full" tappable (click)="selectSearchResult(item)">
        <ion-text>
          <strong> {{ item.main_text }}</strong> <small> {{ item.secondary_text }}</small>
        </ion-text>
      </ion-item>
    </ion-list>

    <agm-map [zoomControlOptions]="zoomConfig" scaleControl="true" [latitude]="myLocation.lat"
      [streetViewControl]="false" [longitude]="myLocation.lng" [minZoom]="15" [maxZoom]="18" [zoom]="17" [tilt]="45">
      <agm-marker [animation]="'BOUNCE'" [latitude]="myLocation.lat" [longitude]="myLocation.lng"></agm-marker>
    </agm-map>

  </div>

  <div class="footer primary ion-no-padding">
    <ion-button expand="full" class="ion-no-margin" (click)="getUserPosition()">
      <ion-icon name="md-locate" class="ion-padding-end"></ion-icon>Vị trí hiện tại
    </ion-button>
  </div>

</ion-content>