<ion-item lines="none">
  <ion-label color="primary">
    <h2 class="ion-text-wrap">
      <span *ngIf="data?.status === 'QUOTED'"><b>{{ data?.noQuote }}</b> thợ báo giá</span>
      <span *ngIf="data?.status !== 'QUOTED'"><b>{{ (data?.noReceiver == 0) ? 'Chưa có' : data?.noReceiver}}</b> thợ
        xem yêu cầu</span>
    </h2>
  </ion-label>
</ion-item>

<ion-item lines="none">
  <ion-thumbnail slot="start">
    <img [defaultImage]="'/assets/no-image.svg'" [lazyLoad]="imageHost + '' + data?.imagesDescription[0]">
  </ion-thumbnail>
  <ion-label>
    <p class="address">
      <ion-icon name="pin"></ion-icon> {{ data?.address }}
    </p>
    <ion-text>
      <div class="description">
        {{ data?.textDescription | truncateText: 150 : true }}
      </div>
    </ion-text>
  </ion-label>
</ion-item>

<ion-item lines="full" style="--min-height: 20px">
  <ion-label></ion-label>
  <ion-note slot="end">
    <small>{{ data?.createAt | vdatetime }}</small>
  </ion-note>
</ion-item>