<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon> Trở lại
      </ion-button>
    </ion-buttons>

    <ion-title>Yêu cầu</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding-vertical">

  <ion-item lines="none">
    <ion-avatar slot="start">
      <img [defaultImage]="'/assets/no-avatar.svg'" [lazyLoad]="profile?.avatar" alt="avatar">
    </ion-avatar>
    <ion-label>
      <div class="primary-color">{{ profile.fullName }}</div>
      <div class="post-time">{{ request?.createAt | vdatetime }}</div>
    </ion-label>
  </ion-item>

  <div class="ion-padding description">{{ request?.textDescription }} - tại
    <span class="primary-color">
      <ion-icon name="pin"></ion-icon> {{ request?.address }}
    </span>
  </div>

  <!-- slide images -->
  <div style="height: 30%;">
    <ion-slides [options]="options" pager="true" style="height: 100%;">
      <ion-slide *ngFor="let src of request?.imagesDescription" #slide>
        <img crossorigin="anonymous"  [defaultImage]="'/assets/no-image.svg'" [lazyLoad]="imageHost + '' + src" alt="" (load)="loadImage(img, slide)" #img>
      </ion-slide>
    </ion-slides>
  </div>

  <!-- summary -->
  <ion-row class="ion-margin-horizontal">
      <ion-col size="6" class="ion-text-left">
        <ion-chip [color]="status?.color" size="small">
          <ion-label>{{ status?.name }}</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col size="6" style="margin: auto;" class="ion-text-right">
        <span class="post-sumary" *ngIf="request?.noQuote > 0">{{ request?.noQuote }} Báo giá</span>
        <span class="post-sumary" *ngIf="request?.noReceiver > 0">
          &nbsp;&#8729;&nbsp;{{ request?.noReceiver }} Nhận yêu cầu</span>
        <span class="post-sumary" *ngIf="request?.noReceiver === 0 && request?.noQuote > 0">Chưa có thợ nhận yêu cầu</span>
      </ion-col>
  </ion-row>

  <hr class="divider ion-no-margin ion-margin-horizontal" />

  <!-- review -->
  <ion-item lines="full" *ngIf="showReviewSection && !request?.feedBack">
    <ion-avatar slot="start">
      <img  [defaultImage]="'/assets/no-avatar.svg'" [lazyLoad]="profile?.avatar" alt="avatar">
    </ion-avatar>
    <div style="width: 100%;">
      <ion-textarea autoGrow="true" placeholder="Viết đánh giá" rows="3" class="post-comment ion-margin-top"
        style="--padding-top: 0; --padding-bottom: 0;"></ion-textarea>
      <star-rating [value]="request?.rate" checkedcolor="gold" uncheckedcolor="gray" size="24px" readonly="false">
      </star-rating>
    </div>
  </ion-item>

  <!-- joined repairer -->
  <ion-item class="ion-margin-top" *ngIf="repairer && showJoinedRepairer" lines="none"
    [ngClass]="{'accepted-comment': request.status === 'ACCEPTED'}" [routerLink]="['repairers', repairer.id]"
    detail="false">
    <ion-avatar slot="start">
      <img  [defaultImage]="'/assets/no-avatar.svg'" [lazyLoad]="repairer.avatar">
    </ion-avatar>
    <ion-label>
      <span class="post-comment">
        <span class="primary-color">{{ repairer.fullName }}</span> - <span>Thợ sửa chữa</span>&nbsp;&nbsp;&nbsp;
        <span>đã nhận báo giá <strong class="primary-color">{{ request?.point }}</strong></span>
      </span>
    </ion-label>
  </ion-item>

  <!-- reviewed -->
  <ion-item class="ion-margin-bottom" *ngIf="showReviewSection && request?.feedBack" lines="none">
    <ion-avatar slot="start">
      <img [defaultImage]="'/assets/no-avatar.svg'" [lazyLoad]="profile?.avatar">
    </ion-avatar>
    <ion-label>
      <span class="post-comment">
        <span class="primary-color">{{ profile?.fullName }}</span> - <span>đã đánh giá</span>
        <div>
          <star-rating [value]="request?.rate" checkedcolor="gold" uncheckedcolor="gray" size="24px" readonly="true">
          </star-rating>
          <div class="ion-text-wrap ion-padding-top"> {{ request?.comment }} </div>
        </div>
      </span>
    </ion-label>
  </ion-item>

  <repairer-list *ngIf="showRepairerSection" [request-id]="request?.id"></repairer-list>

</ion-content>