<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon> Trở lại
      </ion-button>
    </ion-buttons>

    <ion-title>Yêu cầu</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding-vertical">

  <c-post [poster]="poster" [request]="request"></c-post>

  <!-- review -->
  <ion-item lines="full" *ngIf="showReviewSection && !request?.feedBack">
    <ion-avatar slot="start">
      <img [defaultImage]="'/assets/no-avatar.svg'" [lazyLoad]="poster?.avatar" alt="avatar">
    </ion-avatar>
    <div style="width: 100%;">
      <ion-textarea (ionChange)="request.comment = $event.target.value"  autoGrow="true" placeholder="Viết đánh giá" rows="3"
        class="post-comment ion-margin-top" style="--padding-top: 0; --padding-bottom: 0;"></ion-textarea>
      <star-rating (rate)="request.rate = $event.newValue" value="0" checkedcolor="gold" uncheckedcolor="gray" size="24px"
        readonly="false">
      </star-rating>
    </div>
    <div slot="end" class="ion-padding-vertical" style="height: 100%">
      <ion-button fill="clear" (click)="confirmPostReview()">
        <ion-icon slot="icon-only" name="send" mode="ios" color="primary" size="large"></ion-icon>
      </ion-button>
    </div>
  </ion-item>

  <!-- reviewed -->
  <!-- <ion-item class="ion-margin-bottom" *ngIf="showReviewSection && request?.feedBack" lines="none">
    <ion-avatar slot="start">
      <img [defaultImage]="'/assets/no-avatar.svg'" [lazyLoad]="poster?.avatar">
    </ion-avatar>
    <ion-label>
      <span class="post-comment">
        <span class="primary-color">{{ poster?.fullName }}</span> - <span>đã đánh giá</span>
        <div>
          <star-rating [value]="request?.rate" checkedcolor="gold" uncheckedcolor="gray" size="24px" readonly="true">
          </star-rating>
          <div class="ion-text-wrap ion-padding-top"> {{ request?.comment }} </div>
        </div>
      </span>
    </ion-label>
  </ion-item> -->

  <c-repairer-list *ngIf="showRepairerSection" [repairers]="repairers" [highlightComment]="highlightComment"
    [request]="request" [itemClickable]="true" [poster]="poster"
    (acceptQuote)="acceptQuote($event)">
  </c-repairer-list>

</ion-content>