<ion-header>
  <ion-toolbar>
    <ion-title>Demo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="background: white" class="ion-padding-vertical">

    <ion-item>
      <ion-thumbnail slot="start" style="--border-radius: 3px">
        <img src="https://avatars0.githubusercontent.com/u/32217548?s=460&v=4">
      </ion-thumbnail>
      <ion-label>
        <ion-text>
          <h1>Nguyễn Anh Tuấn</h1>
          <p>Số điểm trong ví: 1,403
            <ion-icon style="color: gold" name="star"></ion-icon>
          </p>
        </ion-text>
      </ion-label>
    </ion-item>
  </div>

  <ion-button (click)="facebookLogin()">
    <ion-icon name="logo-facebook"></ion-icon> Đăng nhập qua Facebook
  </ion-button>
  <ion-button (click)="oauth2Login()">
    <ion-icon name="login"></ion-icon> Đăng nhập qua GrabTho
  </ion-button>

  <ion-button (click)="notify()">Notification</ion-button>

  <pre>{{ info }}</pre>
  <div>Cap {{ platform }}</div>
  <div>Platform {{ platforms }}</div>

  <ion-button (click)="openDatePicker()">Select date</ion-button>

  <button (click)="init()" ion-button>
    Init
  </button>
  <br /><br />
  <button (click)="scheduleNow()" ion-button>
    Schedule Now - Icon from config (or default)
  </button>
  <button (click)="scheduleNowWithIcon()" ion-button>
    Schedule Now - Icon parameter
  </button>
  <br /><br />
  <button (click)="scheduleOnce()" ion-button>
    Schedule in 10 seconds
  </button>
  <br /><br />
  <button (click)="scheduleRepeatingEvery()" ion-button>
    Schedule every minute
  </button>
  <br /><br />
  <button (click)="scheduleRepeatingOn()" ion-button>
    Schedule when clock matches next minute
  </button>
  <br /><br />
  <button (click)="cancelNotification()" ion-button>
    Cancel Local Notifications
  </button>
  <br /><br />
  <button (click)="getPending()" ion-button>
    Get Pending
  </button>
  <br /><br />
  <div *ngIf="pendingNotifs">
    <div *ngFor="let notif of pendingNotifs.notifications">
      {{toJson(notif)}}
    </div>
  </div>
</ion-content>