<ion-header>
  <ion-toolbar>
    <ion-title>Demo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="background: white" class="ion-padding-vertical">

    <ion-item>
      <ion-thumbnail slot="start" style="--border-radius: 3px">
        <img src="https://avatars0.githubusercontent.com/u/32217548?s=460&v=4">
      </ion-thumbnail>
      <ion-label>
        <ion-text>
          <h1>Nguyễn Anh Tuấn</h1>
          <p>Số điểm trong ví: 1,403
            <ion-icon style="color: gold" name="star"></ion-icon>
          </p>
        </ion-text>
      </ion-label>
    </ion-item>
  </div>

  <!-- {{ message | async | json }} -->

 <ion-button (click)="subscribe()">SubScribe</ion-button>

<!--  <pre>{{ info }}</pre>-->
<!--  <div>Cap {{ platform }}</div>-->
<!--  <div>Platform {{ platforms }}</div>-->


  <input class="file-upload-button" type="file" accept="image/*" #inputPhoto>

</ion-content>
