<ion-header translucent>
  <ion-toolbar translucent style="height: 30px;">
    <ion-title>Quản lý yêu cầu</ion-title>
  </ion-toolbar>
  <ion-toolbar translucent>
    <ion-segment #tabRequest class="ion-padding" style="padding: 5px;" [value]="seletedTab"
      (ionChange)="changeTab($event.target.value)">
      <ion-segment-button value="recent">
        <ion-label>Gần đây</ion-label>
      </ion-segment-button>
      <ion-segment-button value="accepted">
        <ion-label>Đã xác nhận</ion-label>
      </ion-segment-button>
      <ion-segment-button value="completed">
        <ion-label>Đã hoàn thành</ion-label>
      </ion-segment-button>
    </ion-segment>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-vertical" fullscreen>

  <ng-container *ngIf="tabRequest.value == 'recent'">
    <ion-list>
      <ion-list-header class="bg-light">
        Vừa đăng
      </ion-list-header>

      <ng-container *ngTemplateOutlet="skeletonTemplate"></ng-container>

      <item-recent *ngFor="let req of recentRequest" [routerLink]="['/requests', req.id]" [data]="req"></item-recent>

      <div class="ion-padding-bottom"></div>

      <ion-list-header class="bg-light">
        Đã có thợ báo giá
      </ion-list-header>

      <ng-container *ngTemplateOutlet="skeletonTemplate"></ng-container>

      <item-recent *ngFor="let req of quotedRequest" [routerLink]="['/requests', req.id]" [data]="req"></item-recent>

    </ion-list>
  </ng-container>

  <ng-container *ngIf="tabRequest.value == 'accepted'">
    <ion-list>
      <ion-list-header class="bg-light">
        Yêu cầu chờ đến thời gian thực hiện
      </ion-list-header>

      <ng-container *ngTemplateOutlet="skeletonTemplate"></ng-container>
      <ng-container *ngTemplateOutlet="skeletonTemplate"></ng-container>

      <item-accepted *ngFor="let req of acceptedRequest" [routerLink]="['/requests', req.id]" [data]="req"
        [config]="acceptedItemConfig"></item-accepted>

    </ion-list>
  </ng-container>

  <ng-container *ngIf="tabRequest.value == 'completed'">

    <ion-list>
      <ion-list-header class="bg-light">
        Yêu cầu chờ được phản hồi ý kiến
      </ion-list-header>

      <ng-container *ngTemplateOutlet="skeletonTemplate"></ng-container>

      <item-complete *ngFor="let req of completedRequest" [routerLink]="['/requests', req.id]" [data]="req"
        [config]="completedItemConfig"></item-complete>

      <div class="ion-padding-bottom"></div>

      <ion-list-header class="bg-light">
        Yêu cầu đã đóng
      </ion-list-header>

      <ng-container *ngTemplateOutlet="skeletonTemplate"></ng-container>

      <item-closed *ngFor="let req of closedRequest" [routerLink]="['/requests', req.id]" [data]="req"
        [config]="closedItemConfig"></item-closed>
    </ion-list>
  </ng-container>

  <ng-template #skeletonTemplate>
    <ng-container *ngIf="loadingData">

      <ion-item lines="none">
        <ion-label color="primary">
          <h2 class="ion-text-wrap">
            <ion-skeleton-text animated width="150px"></ion-skeleton-text>
          </h2>
        </ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <p class="address">
            <ion-skeleton-text animated></ion-skeleton-text>
          </p>
          <ion-text>
            <div class="description">
              <ion-skeleton-text animated></ion-skeleton-text>
              <ion-skeleton-text animated width="100px"></ion-skeleton-text>
            </div>
          </ion-text>
        </ion-label>
      </ion-item>

      <ion-item lines="full" style="--min-height: 20px">
        <ion-label></ion-label>
        <ion-note slot="end">
          <small>
            <ion-skeleton-text animated width="70px"></ion-skeleton-text>
          </small>
        </ion-note>
      </ion-item>
    </ng-container>
  </ng-template>
</ion-content>