<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary" (click)="goBack()">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-buttons>

    <ion-title>Yêu cầu</ion-title>

    <ion-buttons slot="primary">
      <ion-button (click)="continute()">Tiếp tục</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen>
  <h3 class="ion-no-margin">Chọn địa chỉ</h3>
  <ion-card-subtitle>Xác định vị trí của bạn</ion-card-subtitle>

  <ion-searchbar mode="ios" animated inputmode="search" showCancelButton="focus" placeholder="Tìm kiếm địa chỉ"
    cancelButtonText="Hủy" [(ngModel)]="searchInput" (ionInput)="updateListPlace()"
    (ionClear)="searchInput = ''; autocompleteItems = []" (ionCancel)="hideSearchBox = true; autocompleteItems = []">
  </ion-searchbar>

  <ion-list [hidden]="autocompleteItems.length == 0" color="light">
    <ion-item *ngFor="let item of autocompleteItems" lines="full" tappable (click)="selectSearchResult(item)">
      <ion-text>
        <strong> {{ item.main_text }}</strong> <small> {{ item.secondary_text }}</small>
      </ion-text>
    </ion-item>
  </ion-list>

  <div style="height: 100%; margin-bottom: 56px;">
    <agm-map [zoomControlOptions]="zoomConfig" scaleControl="true" [latitude]="myLocation.lat"
      [streetViewControl]="false" [longitude]="myLocation.lng" [minZoom]="15" [maxZoom]="18" [zoom]="17" [tilt]="45">
      <agm-marker [animation]="'BOUNCE'" [latitude]="myLocation.lat" [longitude]="myLocation.lng"></agm-marker>
    </agm-map>
  </div>

  <div class="footer primary ion-no-padding">
    <ion-button expand="full" class="ion-no-margin" (click)="getUserPosition()">
      <ion-icon name="md-locate" class="ion-padding-horizontal"></ion-icon>Vị trí hiện tại
    </ion-button>
  </div>

</ion-content>