@import '../add-request.scss';

agm-map {
  width: 100%;
  height: 95%;
}

ion-list {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0;
  max-height: 100%;
  z-index: 999;

  ion-item {
    padding: 0;
    img {
      max-height: 2.5rem;
      width: auto;
      margin: auto;
      display: block;
    }
  }

  ion-item:hover {
    cursor: pointer;
    background: #f1f1f1;
  }
}