<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Xong</ion-title>

    <ion-buttons slot="primary">
      <ion-button (click)="close()" color="primary">Đóng</ion-button>
    </ion-buttons>
  </ion-toolbar>
</!-->

<ion-content class="ion-padding">
  <ion-grid style="height: 45%">
    <ion-row class="ion-align-items-end ion-justify-content-center" style="height: 100%">
      <ion-icon style="font-size: 10em;" color="light" mode="md" [name]="iconName">
      </ion-icon>

      <ion-progress-bar [value]="value" [buffer]="buffer" [color]="status?.progressBarColor"></ion-progress-bar>
    </ion-row>
  </ion-grid>
  <div class="ion-text-center">
    <h2 class="ion-text-uppercase" [ngStyle]="status.textColor">{{ status?.text }} </h2>
    <ion-text class="ion-padding-horizontal ion-margin-end ion-text-wrap" style="color: var(--ion-color-medium);">
      {{ stepText }}
    </ion-text>
    <div>
      <ion-button color="light" *ngIf="id" (click)="forwardToRequestDetail()">
        <ion-icon name="open" mode="md" style="color: var(--ion-color-primary);"></ion-icon>
        <span class=" ion-padding-start" style="padding: 8px; color: var(--ion-color-primary);">Xem lại yêu cầu</span>
      </ion-button>
      <ion-button color="light" (click)="forwardToHome()">
        <ion-icon name="home" style="color: var(--ion-color-primary);"></ion-icon>
        <span class=" ion-padding-start" style="padding: 8px; color: var(--ion-color-primary);">Trở về trang chủ</span>
      </ion-button>
    </div>
  </div>
</ion-content>