/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

$text: #444;
$text-darker: darken($text, 15);
$text-lighter: lighten($text, 15);

:root {
  --ion-color-theme: #0a71f9;
  --ion-color-theme-rgb: 10, 113, 249;
  --ion-color-theme-contrast: #ffffff;
  --ion-color-theme-contrast-rgb: 255, 255, 255;
  --ion-color-theme-shade: #0963db;
  --ion-color-theme-tint: #237ffa;
}

.ion-color-theme {
  --ion-color-base: var(--ion-color-theme);
  --ion-color-base-rgb: var(--ion-color-theme-rgb);
  --ion-color-contrast: var(--ion-color-theme-contrast);
  --ion-color-contrast-rgb: var(--ion-color-theme-contrast-rgb);
  --ion-color-shade: var(--ion-color-theme-shade);
  --ion-color-tint: var(--ion-color-theme-tint);
}

.repaier-info-modal .modal-wrapper {
  width: 100%;
  top: 0;
  left: 0;
  height: calc(100vh - 100px);
  position: absolute;
  display: block;
  border-radius: 15px 15px 0 0;
}

.title {
  font-weight: 600;
  font-size: 24px;
  margin: 0;
  padding-top: 16px;
  padding-bottom: 16px;
}

.subtitle {
  font-weight: 600;
  font-size: 20px;
}

.address,
.time,
.point {
  font-size: 14px !important;
  white-space: normal !important;
  margin-bottom: 5px !important;
  color: var(--ion-color-step-600, #666) !important;

  ion-icon {
    font-size: 75% !important;
  }
}

.text-color {
  color: $text;
  font-size: 14px;
}

.text-light-color {
  color: $text-lighter;
  font-size: 14px;
}

.text-dark-color {
  color: $text-darker;
  font-size: 14px;
}

.description {
  font-size: 14px !important;
  white-space: normal !important;
  color: #000 !important;
}

ion-item.hint {
  --background: var(--ion-color-light);
  --padding-top: 5px;
  --padding-bottom: 5px;

  small {
    color: var(--ion-color-medium);
    padding-right: 8px;
  }
}

.bg-light {
  --background: var(--ion-color-light) !important;
  background: var(--ion-color-light) !important;
}

.post-time {
  font-size: 10px !important;
  white-space: normal !important;
  margin-top: 5px !important;
  color: var(--ion-color-step-600, #666) !important;
}

.post-sumary {
  font-size: 11px !important;
  white-space: normal !important;
  display: inline-block;
  color: var(--ion-color-step-600, #666) !important;
}

.post-comment {
  --background: var(--ion-color-light) !important;
  background: var(--ion-color-light) !important;
  padding: 10px;
  border-radius: 10px;
  white-space: normal !important;
  display: inline-block;
  font-size: 14px !important;
}

.post-item {
  border: 1px solid #c8c7cc;
  background: #fff;
}

.post-image {
  border: 0.6px solid #c8c7cc;
  width: 100%;
  height: 200px;
  background-size: 100% auto;
  background-position: center;
  background-clip: content-box;
}

.primary-color {
  color: var(--ion-color-primary);
}

hr.divider {
  background: #c8c7cc;
  height: 0.6px;
}

.quoted-status {
  color: var(--ion-color-step-600, #666) !important;
}

.list-header {
  color: var(--ion-color-theme-shade);
  font-size: 16px;
  font-weight: bold;
}

.logo {
  font-size: 30px;
  font-weight: 900;
  margin-left: 20px;
  color: var(--ion-color-primary);
}

ion-item-divider {
  z-index: 9;
}