/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.repaier-info-modal .modal-wrapper {
  width: 100%;
  top: 0;
  left: 0;
  height: calc(100vh - 100px);
  position: absolute;
  display: block;
  border-radius: 15px 15px 0 0;
}

.title {
  font-weight: 600;
  font-size: 24px;
  margin: 0;
  padding-top: 16px;
  padding-bottom: 16px;
}

.subtitle {
  font-weight: 600;
  font-size: 20px;
}

ion-item.hint {
  --background: var(--ion-color-light);
  --padding-top: 5px;
  --padding-bottom: 5px;

  small {
    color: var(--ion-color-medium);
    padding-right: 8px;
  }
}

.bg-light {
  --background: var(--ion-color-light);
  background: var(--ion-color-light);
}
