<ion-header>
  <ion-toolbar translucent>
    <ion-buttons slot="start">
      <span class="logo">GrabTho </span>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- <ion-content > -->
<div style="padding-right: 10px; height: 90%;" *ngIf="authService.isAuthenticated()">
  <page-notification></page-notification>
</div>
<!-- </ion-content> -->
<ion-content fullscreen scroll-y="false" class="ion-padding" *ngIf="!authService.isAuthenticated()"
  style="border-right: 1px solid #f1f1f1;">
  <ion-row style="height: 100%;">
    <ion-col class="ion-align-self-center">
      <ion-slides pager="true">
        <ion-slide>
          <img src="/assets/undraw_wall_post_83ul.svg" />
          <h2>Tạo mới <b>yêu cầu sửa chữa</b></h2>
          <p>Viết vài dòng mô tả vấn đề bạn gặp phải</p>
        </ion-slide>

        <ion-slide>
          <img src="/assets/undraw_image_upload_wqh3.svg" />
          <h2>Mô tả với hình ảnh</h2>
          <p>Tải lên những tấm ảnh mô tả rõ hơn vấn để cần sửa chữa</p>
        </ion-slide>

        <ion-slide>
          <img src="/assets/undraw_Map_dark_k9pw.svg" />
          <h2>Xác định địa chỉ</h2>
          <p>Địa chỉ nơi bạn cần sửa chữa</p>
        </ion-slide>

        <ion-slide>
          <img src="/assets/undraw_referral_4ki4.svg" />
          <h2>Thương lượng</h2>
          <p>Bạn và thợ cùng nhau thương lượng và chốt giá cả</p>
          <ion-button fill="clear">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon>
          </ion-button>
        </ion-slide>

      </ion-slides>
    </ion-col>
  </ion-row>
</ion-content>