<ion-header no-border>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button routerLink="/login">Đăng nhập</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content class="ion-padding register-bg">
  <ion-row class="ion-align-items-center" style="height: 100%; max-width: 400px; margin: auto;">
    <ion-col>
      <div class="ion-text-center primary-color" style="margin-bottom: 50px;">Đăng kí <span class="logo"
          style="margin: 0;">GrabThợ</span></div>

      <div style="height: 3px;">
        <ion-progress-bar  type="indeterminate"></ion-progress-bar>
      </div>
      <form #registerForm="ngForm" autocomplete="off">
        <!-- email -->
        <ion-item style="--background: transparent;">
          <ion-label color="primary" position="stacked">Email<ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input #emailField="ngModel" [(ngModel)]="email" name="email" id="email" inputmode="email" type="email"
            email required></ion-input>
        </ion-item>
        <div class="invalid-wrapper">
          <ng-container *ngIf="emailField.invalid && emailField.touched">
            <div class="invalid-feedback" *ngIf="emailField.errors?.email">
              Địa chỉ email không hợp lệ
            </div>
            <div class="invalid-feedback" *ngIf="emailField.errors?.required">
              Email không được trống
            </div>
          </ng-container>
        </div>

        <!-- username -->
        <ion-item style="--background: transparent;">
          <ion-label color="primary" position="stacked">Tài khoản <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input #usernameField="ngModel" [(ngModel)]="username" name="username" id="username" type="text" required>
          </ion-input>
        </ion-item>
        <div class="invalid-wrapper">
          <ng-container *ngIf="usernameField.invalid && usernameField.touched">
            <div class="invalid-feedback" *ngIf="usernameField.errors?.required">
              Tài khoản không được trống
            </div>
          </ng-container>
        </div>

        <!-- password -->
        <ion-item style="--background: transparent;">
          <ion-label color="primary" position="stacked">Mật khẩu <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input name="password" id="password" type="password" #passwordField="ngModel" [(ngModel)]="password"
            (focus)="noMatchPassword = false" required></ion-input>
        </ion-item>
        <div class="invalid-wrapper">
          <ng-container *ngIf="passwordField.invalid && passwordField.touched">
            <div class="invalid-feedback" *ngIf="passwordField.errors?.required">
              Mật khẩu không được trống
            </div>
          </ng-container>
        </div>

        <!-- confirm password -->
        <ion-item style="--background: transparent;">
          <ion-label color="primary" position="stacked">Xác nhận mật khẩu <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input #confirmPasswordField="ngModel" name="confirmPassword" type="password"
            (focusout)="noMatchPassword = (confirmPassword != password)" (focus)="noMatchPassword = false"
            [(ngModel)]="confirmPassword" required></ion-input>
        </ion-item>
        <div class="invalid-wrapper">
          <ng-container *ngIf="confirmPasswordField.invalid && confirmPasswordField.touched">
            <div class="invalid-feedback" *ngIf="confirmPasswordField.errors?.required">
              Mật khẩu không được trống
            </div>
          </ng-container>
          <ng-container *ngIf="noMatchPassword && confirmPassword.length > 0">
            <div class="invalid-feedback">
              Mật khẩu xác nhận không khớp với mật khẩu mới
            </div>
          </ng-container>
        </div>

        <ion-button style="width: 100%;" class="ion-padding-horizontal" (click)="submitRegisterForm()"
          [disabled]="!registerForm.valid || password != confirmPassword">
          Đăng ký
        </ion-button>
      </form>
    </ion-col>
  </ion-row>
</ion-content>