.profile-avatar {
  max-width: 120px;
  margin: auto;
  width: 100%;
  height: auto;
}

.profile-info {
  margin: 0;
  // text-align: center;

  .fullname {
    font-size: 22px;
    font-weight: bold;
  }
  .major {
    font-size: 16px;
    color: var(--ion-color-step-600, #666) !important;
  }
}

.summary-info {
  border-right: 1px solid #ddd;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;

  .value {
    font-size: 18px;
    font-weight: 300;
  }

  .title {
    padding: 0;
    font-weight: normal;
    font-size: 14px;
  }
}

.no-border {
  border: none !important;
}

.review-comment {
  padding-left: 68px;
  padding-right: 16px;
  padding-bottom: 16px;
  font-size: 14px;
}

ion-fab-button {
  --box-shadow: none;
  display: inline-block;
}

.contact-group {
  display: flex;
  justify-content: center;
  
  .contact {
    padding: 0 8px;
  }

  .title {
    font-size: 12px;
    text-align: center;
    padding: 0;
    margin-top: 8px;
  }
}
