<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-icon slot="icon-only" name="arrow-back" (click)="goBack()"></ion-icon>
    </ion-buttons>

    <ion-title>Yêu cầu</ion-title>

    <ion-buttons slot="primary">
      <ion-button (click)="continute()">Tiếp tục</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class=" ion-padding">

  <ion-card-header class="ion-no-padding ion-no-margin">
    <ion-card-title>Mô tả vấn đề</ion-card-title>
    <ion-card-subtitle>Mô tả vấn đề bạn gặp phải</ion-card-subtitle>
  </ion-card-header>

  <ion-textarea autoGrow="true" rows="3" style="border: 1px solid #ddd;"></ion-textarea>

  <ion-text>
    <h5>Mô tả bằng hình ảnh</h5>
    <!-- <input type="file" (change)="upfile($event)"  accept="image/*" capture="camera" > -->
    <div *ngIf="images.length == 0" class="ion-text-center">
      Chọn ảnh để mô tả chi tiết hơn
    </div>
  </ion-text>

  <ion-grid>
    <ion-row *ngFor="let row of images; let i = index">
      <ion-col width-50 *ngFor="let col of row; let j = index" color="light">
        <img [src]="col.src" alt="">
        <small>Hình {{ 2*i + j + 1 }}</small>
      </ion-col>
    </ion-row>
  </ion-grid>

  <input [hidden]="true" class="file-upload-button" type="file" (change)="selectImage($event)" #inputPhoto>

  <div class="footer primary ion-no-padding">
    <ion-button expand="full" class="ion-no-margin" (click)="captureImage()">
      <ion-icon name="camera" class="ion-padding-horizontal"></ion-icon> Thêm hình ảnh
    </ion-button>
  </div>
</ion-content>